body{
    background:#fff;
    font-size:14px;
    font-family:arial, sans-serif;
    text-decoration: none;
    color:#222;
    margin:0;
    padding:0;
    height:100%;
}

#center-container{
    width:100%;
    position:absolute;
    top:30%;
    text-align:center;
}

#Searchbar{
    width:50%;
}

#searchBarContainer{
    border-radius:1em;
    width:40em;
    height:3em;
    border-color: black;
}

header{
    position:fixed;
    top:2.5%;
    word-spacing:1em;
    display:inline-block;
    width:100%;
}

#header1{
    position:fixed;
    left:1.5%;
}

#header2{
    position:fixed;
    right: 1.5%;
}

#BottomOfPage{
    position:absolute;
    bottom:0%;
    display:flex;
    background-color:rgb(245, 245, 245);
    width:100%;
    height:2.5em;
    justify-content:space-between;
    color:rgb(102, 101, 101);
}

button{
    border-radius: 4px;
    background-color: #f8f9fa;
    padding:0.5em;
    border:2px #f8f9fa;
}

a{
    color:rgb(102, 101, 101);
}

a:link{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }  